/* ----CSS RESET--- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'IMB Plex Sans',sans-serif;
}


/*------ VARIABLES -----*/

:root{
    --primary-color:#66e2dc;
    --secondary-color:#fa7453;
    --orange-color:#ffb964;
    --white-color:#fcfaf9;
    --black-color:#191b26;
}


/* ----- HEADER SECTION -------- */

.wrapper{
    width:1200px;
}



.hero{
    width:100%;
    height:100vh;
    background-image:url('images/bg-main-mobile.png');
    background-size:cover;
    background-position:center;
    overflow:hidden;
    overflow:hidden;
}


.navbar{
    padding:2% 8%;
}


.hero-img{
    max-width:100%;
    position:absolute;
    top:0;
    right:0;
}


.hero-img img{
    width:250px;
}

.welcome-section{
    width:80%;
    margin-top:7%;
    padding:0 8%;
}

.welcome-section h1{
    font-size:88px;
    letter-spacing:-1px;
    margin-bottom:20px;
    line-height:88px;
}

.welcome-section p{
    font-size:20px;
    line-height:34px;
}


/* ------ END OF HEADER SECTION -------- */





/* ----- MAIN SECTION STYLING --------------- */



.features{
    width:80%;
    height:600px;
    margin:auto;
    padding:100px 0;
    background:var(--black-color);
    padding:2% 8%;
    border-radius:15px;
    position:relative;
}


.features-items{
    position: relative;
}


.features-items img{
    width:300px;
    position:absolute;
    top:-30%;
    z-index:1;
}



.pattern{
    position:relative;
    width:34%;
    left:25%;
    height:100vh;
    background-image:url('images/bg-pattern-2.svg');
    background-repeat:no-repeat;
}



.price{
    width:35%;
    position:absolute;
    top:25%;
    right:15%;
    background:var(--secondary-color);
    padding:40px;
    border-radius:15px;
    font-family:IMB Plex Sans;
}

.price-items h2{
    font-size:40px;
    line-height:52px;
    color:var(--white-color);
    margin-bottom:20px;
}

.price-items p{
    width:90%;
    margin-bottom:20px;
    font-size:16px;
    line-height:26px;
    color:var(--white-color);
}




.price-items h3{
    font-size:50px;
    color:var(--white-color);
    margin-bottom:30px;
    display:flex;
    align-items:center;
    
}


.price-items span{
    font-size: 16px;
    font-weight:lighter;
    margin-left:20px;
}


.btn{
    display:flex;
    flex-direction:column;
    margin-bottom:30px;
    position:relative;
}

.btn button{
    margin:5px 0;
}

.btn .ios{
    padding:16px;
    border-radius:10px;
    background:var(--black-color);
    color:var(--white-color);
    border:none;
    outline:none;
    font-weight: 800;
    cursor: pointer;
    transition:background .3s;

}

.btn .ios:hover{
    background:var(--primary-color);
}


.btn .android{
    padding:16px;
    border-radius:10px;
    background:var(--white-color);
    color:var(--black-color);
    border:none;
    outline:none;
    font-weight: 800;
    cursor: pointer;
    transition:background .3s;
}

.btn .android:hover{
    background:var(--orange-color);
}




.btn .ios-icon{
    width:20px;
    top:20px;
    left:20%;
}

.btn .android-icon{
    width:20px;
    top:79px;
    left:14%;
}

/* ----- END OG MAIN SECTION STYLING --------------- */


/* ----- FOOTER SECTION STYLING */
footer{
    padding:100px 0;
    margin-top:200px;
}


.footer-items{
    display:grid;
    grid-gap:30px;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    padding:0 8%;
}


.footer-items p{
    line-height:25px;
}



.social-media a img{
    margin:5px;
    float:right;
}




/* ----- END OF FOOTER SECTION STYLING */


/* -----RESPONSIVENESS ------------ */

@media screen and (max-width:600px){

    .wrapper{
        width:100%;
        margin:auto;

    }

    header{
       padding:0px 0px 50px 0;
    }

    .hero-img{
        display:none;
    }

    .welcome-section{
        width:100%;
    }

    .welcome-section h1{
        font-size:36px;
        line-height:60px;
    }

    .welcome-section p{
        font-size:13px;
        
    }

    .features{
        width:100%;
        margin-top:90px;
        padding:0;
    }

    .features-items img{
       left:12%;
       width:80%;
       
    }


    .social-media a img{
        float:left;
    }

    .pattern{
        width:500px;
        left:4%;
    }

    .price{
        width:100%;
        top:70%;
        left:0;
    }


    .price-items h2{
        font-size:35px;
    }


    .footer-container{
        margin-top:65%;
    }
}