/* ----CSS RESET--- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'IMB Plex Sans',sans-serif;
}


/*------ VARIABLES -----*/

:root{
    --primary-color:#66e2dc;
    --secondary-color:#fa7453;
    --orange-color:#ffb964;
    --white-color:#fcfaf9;
    --black-color:#191b26;
}


/* ----- HEADER SECTION -------- */


.hero{
    width:100%;
    height:100vh;
    background-image:url('images/bg-main-mobile.png');
    background-size:cover;
    background-position:center;
    overflow:hidden;
}


.navbar{
    padding:2% 8%;
}


.hero-img{
    max-width:100%;
    position:absolute;
    top:0;
    right:0;
}


.hero-img img{
    width:250px;
}

.welcome-section{
    width:100%;
    margin-top:7%;
    padding:0 8%;
}

.welcome-section h1{
    font-size:88px;
    letter-spacing:-1px;
    margin-bottom:20px;
    line-height:88px;
}

.welcome-section p{
    font-size:20px;
    line-height:34px;
}


/* ------ END OF HEADER SECTION -------- */





/* ----- MAIN SECTION STYLING --------------- */


.features{
    width:80%;
    height:600px;
    margin:auto;
    padding:100px 0;
    background:var(--black-color);
    padding:2% 8%;
    border-radius:15px;
    position:relative;
}


.features-items img{
   width:300px;
    position:absolute;
    top:-30%;
    z-index:1;
}



.pattern{
    position:relative;
    width:34%;
    left:29%;
    height:100vh;
    background-image:url('images/bg-pattern-2.svg');
    background-repeat:no-repeat;
}







/* ----- END OG MAIN SECTION STYLING --------------- */